.welcome-text {
    font-size: 20px;     margin-bottom: 0.5rem;
  }
  
  .thin-separator {
    border: none; 
    height: 1px; 
    background-color: rgba(0, 123, 255, 0.5); 
    margin: 20px 0; 
  }
  
  .button-row {
    display: flex;
    justify-content: center;
    gap: 10px; 
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;     align-items: end; 
  }
  
  button {
    padding: 10px 20px;
    border-radius: 5px;
  }
  .img-responsive {
    max-width: 100%;
    height: auto;
  }
  